In [1]:
import requests
import json
import pandas as pd

In [8]:
with open('token.json') as key_file:
    api_token = json.load(key_file)

In [9]:
api_token

{'key': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjQ3Mzd9.CasxLSyTSORQdvcxfpYfDYrFHWyXftuk5G527pjuu-U'}

In [10]:
headers = {"Authorization": "Bearer {}".format(api_token['key'])}

pub_id = 'j098zb08p' #id of oilcrop outlook

params = {'publicationId':'j098zb08p',
          'latest':'true'
         }

r = requests.get('https://usda.library.cornell.edu/api/v1/release/findByPubId/{}'.format(pub_id), headers=headers, params=params)

r.json()

[{'id': 'hd76s804m',
  'files': ['https://downloads.usda.library.cornell.edu/usda-esmis/files/j098zb08p/hd76s804m/6w924m57r/OCS19e.xlsx',
   'https://downloads.usda.library.cornell.edu/usda-esmis/files/j098zb08p/hd76s804m/z029pd72k/OCS19e.pdf'],
  'title': ['Oil Crops Outlook'],
  'release_datetime': '2019-05-14',
  'identifier': ['OCS'],
  'agency_acronym': ['ERS']}]

In [11]:
df = pd.read_excel(r.json()[0]['files'][0], sheet_name=4)
df

,Table 4--Cottonseed: U.S. supply and disappearance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,Supply,NaN,NaN,NaN,NaN,Disappearance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year beginning,Beginning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ending,NaN,NaN,NaN,NaN
2,August 1,stocks,Production,Imports,Total,NaN,Crush,Exports,Other,Total,stocks,NaN,NaN,NaN,NaN
3,NaN,"1,000 short tons",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017/181,400,6422,0,6822,NaN,1853.58,478.385,4040.04,6372,450,NaN,NaN,NaN,NaN
6,2018/192,450,5631,2,6083,NaN,1900,425,3458,5783,300,NaN,NaN,NaN,NaN
7,2019/202,300,6930,2,7232,NaN,2100,450,4296,6846,386,NaN,NaN,NaN,NaN
8,1 Estimated. 2 Forecast.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Sources: USDA, National Agricultural Statistic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"U.S. Census Bureau, Foreign Trade Statistics.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Table 5--Cottonseed meal: U.S. supply and dis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Supply,NaN,NaN,NaN,NaN,Disappearance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Year beginning,Beginning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ending,NaN,NaN,NaN,NaN,NaN
15,October 1,stocks,Production,Imports,Total,NaN,Domestic,Exports,Total,stocks,NaN,NaN,NaN,NaN,NaN
16,NaN,"1,000 short tons",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017/181,27.736,845,0,872.736,NaN,708.279,119.457,827.736,45,NaN,NaN,NaN,NaN,NaN
19,2018/192,45,855,0,900,NaN,750,110,860,40,NaN,NaN,NaN,NaN,NaN
20,2019/202,40,945,0,985,NaN,835,110,945,40,NaN,NaN,NaN,NaN,NaN
21,1 Estimated. 2 Forecast.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Source: USDA, Foreign Agricultural Service, P...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Table 6--Cottonseed oil: U.S. supply and disa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Supply,NaN,NaN,NaN,NaN,Disappearance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Year beginning,Beginning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ending,NaN,NaN,NaN,NaN,NaN
28,October 1,stocks,Production,Imports,Total,NaN,Domestic,Exports,Total,stocks,NaN,NaN,NaN,NaN,NaN
29,NaN,Million pounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2017/181,44.129,561,0.161,605.29,NaN,461.47,111.82,573.29,32,NaN,NaN,NaN,NaN,NaN
32,2018/192,32,530,1,563,NaN,406,125,531,32,NaN,NaN,NaN,NaN,NaN
33,2019/202,32,610,1,643,NaN,478,125,603,40,NaN,NaN,NaN,NaN,NaN
34,1 Estimated. 2 Forecast.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"Source: USDA, Foreign Agricultural Service, P...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Table 7--Peanuts: U.S. supply and disappearance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,Area,NaN,Yield,Supply,NaN,NaN,NaN,NaN,Disappearance,NaN,NaN,NaN,NaN,NaN
40,Year beginning,Planted,Harvested,NaN,Beginning,NaN,NaN,NaN,NaN,Domestic,NaN,Seed and,NaN,NaN,Ending
41,August 1,NaN,NaN,NaN,stocks,Production,Imports,Total,NaN,food,Crush,residual,Exports,Total,stocks
42,NaN,"1,000 acres",NaN,Pounds/acre,Million pounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2017/181,1871.6,1775.6,4007.33,1441.59,7115.41,171.48,8728.48,NaN,3148.98,704.824,884.885,1272.71,6011.4,2717.08
45,2018/192,1425.5,1368.5,3990.94,2717.08,5461.6,110,8288.68,NaN,3078,650,881.68,1250,5859.68,2429
46,2019/202,1449,1391,4051.04,2429,5635,100,8164,NaN,3128,704,804,1275,5911,2253
47,1 Estimated. 2 Forecast.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"Sources: USDA, National Agricultural Statistic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,"U.S. Census Bureau, Foreign Trade Statistics.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Last update:,2019-05-14 11:17:56.880000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df = pd.read_excel(r.json()[0]['files'][0], sheet_name=5, header=[1])
df.head()

,Marketing,Soybeans1,Cottonseed2,Sunflowerseed1,Canola1,Peanuts2,Flaxseed3
0,year,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,$/bushel,$/short ton,$/cwt,$/cwt.,Cents/pound,$/bushel
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009/10,9.59,158,15.1,16.2,21.7,8.15
4,2010/11,11.3,161,23.3,19.3,22.5,12.2